//generall
$black: #000;
$white: #fff;

//greycolors
$soft-grey: #2f354d;
$dark-grey: #1f2535;

//red
$red-400: hsl(3, 86%, 64%);
$red-500: hsl(3, 71%, 56%);
$red-70: hsl(3, 77%, 44%);

//gradients
$dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
$light-gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);