@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "../variables/abstracts/colors";

//GENERAL
::selection {
  background: $white;
  color: $black;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: $white;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

//BODY
body {
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  background: $dark-gradient;
  color: $white;
}

//HEADLINES
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

//CONTAINER
.container {
  max-width: 1440px;
  margin: 0 auto;
}

//
li {
  padding-left: 0;
  list-style: none;
}

//dark mode
.dark{ 
  background: $light-gradient;
  color: $black;
}